<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Pet's World</title>
    <link rel='stylesheet' href='../static/style.css'>
</head>
<body>
    <section id='head_page'>
        <img src='../static/images/dog.png'>
        <div id="title-text">
            <h1>Pet <br> World</h1>
            <p>
                Pet World<br> is your one stop<br> shop for all pet<br>needs and resources.<p style="font-size: 20px;"> Since 2022<p>
            </p>
            <a href='/login'><button id='get_started'>Get Started</button></a>
        </div>
    </section>
    <section id='about-us'>
        <div id="about">
            <h1>About Us</h1>
            <h3>We Care for your Pets.</h3>
        </div>
        <br>
        <div id='about1'>
            <img src='../static/images/cat.png'>
            
                
            <h1><br><br><br><br>Vet Doctors.<br><br><p>
                Meet the worlds most renowned and respected veterinary doctors on this platform at the comfort of your home. 
            </p></h1>
        </div>
        <div id='about1'>    
            <h1><br><br><br><br>Health Database.<br><br><p>
                Worried about your pet’s health? Is you pet showing abnormal symptoms or behaviour? Then this service is for you. 
            </p></h1>
            <img id='parrot' src='../static/images/parrot.png'>
        </div>
        <img src='../static/images/rabbit.png' id='rabbit'>
              
      
</body>
</html>